<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SecretKey" value="cs_4a6d797f575a3b795255f7e5a8c6b0c61c87b372"/>
		<add key="ConsumerKey" value="ck_9b6d85e5d46e4eb8c3df394c110fa829be8b9600&amp;fbclid"/>
		<add key="URL" value="https://hashtagdietcatering.pl/wp-json/wc/v3/"/>
	</appSettings>
	<connectionStrings>
		<add name="prod" connectionString="server=LT-30015;database=WooCommerce;uid=WooAdmin;password=WooAdmin10"/>
	</connectionStrings>
</configuration>