<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/Logs/nlog-internal.log">

  <variable name="VerboseLayout"
            value="${longdate}|${pad:padding=-5:inner=${level:upperCase=true}}|${message}| (${callsite:includSourcePath=true})
                     ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"            />

  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}\Logs\Log.log"
            layout="${VerboseLayout}"
            encoding="UTF-8"
            archiveFileName="${basedir}\Logs\Archives\log.{#####}.log"
            archiveAboveSize="104857600"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            concurrentWrites="false"
            maxArchiveFiles="30">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug"  writeTo="file" />
  </rules>
</nlog>
